{% extends "_base.html" %}

{% block tittle %}
    Social App
{% endblock tittle %}
    

{% block content %}
<div class='container mt-2'>
  {% for message in messages %}
  <div class="alert {{message.extra_tags}}" role="alert">
    {{message|safe}}
  </div>
  {% endfor %}
  <h5>Create Image</h5>
    <form method='POST'>
            {% for field in image_form %}
            <div class="mb-3">
                {% if field.errors %}
                <div class="alert alert-danger" role="alert">
                    {{field.errors}}
                  </div>
                {% endif %}
                
            <label for="{{field.auto_id}}" class="form-label">{{field.label}}</label>
            {{field}}
          </div>
            {% endfor %}
            {% csrf_token %}
        <button type="submit" class="btn btn-primary">Create</button>
      </form>
    </div>
{% endblock content %}